#alter
{
    margin-left: auto;
    text-align: center;
    color:darkslategray
}
#Address
{
    width:100%;
}
form
{
    width:100%;
}
footer{
    width:100%;
}
label{
    color: white;
}